
body {
    font-family: 'Arial', sans-serif;
    background-color: #1a1a1a;
    color: #ffffff;
    line-height: 1.6;
}
header {
    background-color: #111;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 120px;
}

.logo img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.logo img:hover {
    transform: scale(1.1);
}

header h1 {
    font-size: 28px;
    font-weight: bold;
    color: #e50914;
    margin: 0;
}
section h3{
    text-align:center ;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    padding: 20px;
}

.movie, .series {
    background-color: #222;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 2px solid #e50914;
    padding: 10px;
    aspect-ratio: 2/3; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movie img, .series img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover; 
}
.movie h3, .series h3 {
    padding: 15px;
    text-align: center;
    font-size: 18px;
    margin: 0;
    color: #ffffff;
}
nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #e50914;
}


section {
    padding: 40px 20px;
}

section h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #e50914;
    text-align: center;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.movie, .series {
    background-color: #222;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 2px solid #e50914;
    padding: 10px;
}

.movie:hover, .series:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.movie img, .series img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

.movie h3, .series h3 {
    padding: 15px;
    text-align: center;
    font-size: 18px;
    margin: 0;
}


footer {
    background-color: #111;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
}

footer p {
    margin: 0;
    font-size: 14px;
    color: #888;
}